.box{
width: 700px;
height: 600px;
border: 5px solid rgb(0, 0, 0);
display:flex ;
justify-content:center;
align-items:center;
}
.child{
    background:rgb(241, 131, 131);
    width: 150px;
    height: 150px;
    border: 2px solid rgb(0, 0, 0);
}
